@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To PizzaSh<img width="50px" src="https://pngimg.com/uploads/pizza/pizza_PNG7149.png" />p Admin</h1>
    <p>add pizza.</p>
</div>
