
<h4>SEARCH PIZZA</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!--go to SearchResult>> make in pizzasController.cs -->
        <form asp-action="SearchResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <!--go to for and name -->
                <label for="Name" class="control-label"></label>
                <input name="Name" class="form-control" />
               
            </div>
            
            <div class="form-group">
                <!--value -->
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


